#environment-watermark {
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: 30px;
  background: rgba(0,0,0, 0.5);
  color: lightgoldenrodyellow;
  height: 35px;
  line-height: 35px;
  width: 500px;
  left: 0;
  right: 0;
  z-index: 999;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
}
